<mat-toolbar >
    <span routerLink="/">Sparkle Races</span>
    <button mat-stroked-button class="races" routerLink="races">Races</button>
    <div *ngIf="!isLoggedIn(); else signOutButton">
        <button mat-stroked-button class="sign-in" routerLink="sign-in">Sign In</button>
        <button mat-stroked-button class="sign-up" routerLink="sign-up">Sign Up</button>
    </div>
    <ng-template  #signOutButton>
        
        <div>
            <button mat-stroked-button class="sign-out" (click)="signOut()">Sign Out</button>
        </div>
    </ng-template>
</mat-toolbar>