span{
    cursor: pointer;
    margin: 0 1rem;
}

div {
    margin: 0 1rem;
    margin-left: auto;
    height: 100%;
    button {
        height: 100%;
    }
}

.mat-toolbar {
    background: rgb(172,139,211);
    color: rgb(20, 13, 40);
  }

.mat-stroked-button {
    background: rgb(89,162,51)
}

.balanceContainer {
    margin-top: 1rem;
    display: flex;
    mat-icon {
        cursor: pointer;
    }
}